/* Estilo para el contenedor principal */
.main-content {
    margin-left: 300px; /* Igual al ancho del sidebar */
    margin-top: 150px; /* Asegura que no se superponga con el encabezado */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* Estilo para las tarjetas */
.card {
    background-color: #D4E4E1;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

/* Estilo para el ícono de la tarjeta */
.card-icon img {
    width: 100px;
    height: auto;
}

/* Estilo para el número en la tarjeta */
.card-number {
    background-color: #ffffff;
    color: #070716;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
}

/* Estilo para el título de la tarjeta */
.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #070716;
}

/* Estilo para el botón de la tarjeta */
.card-button {
    background-color: #d7f337;
    color: #070716;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #c4e02e;
}